<h1 class="page-header">Admin Console</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in userList">
            <td>
                {{user.username}}
            </td>
            <td>
                <div ng-repeat="role in user.roles">
                    {{role}}
                </div>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteUser($index)">Remove User</button>

            </td>
        </tr>
        </tbody>
    </table>
</div>

