<div class="row">
    <div class="col-xs-6">

        <div class="row">
            <div class="col-xs-7">
                <img ng-src="{{model.data.image_url}}">
                <br>
                <h4>{{model.data.name}}</h4>


                <div ng-show="newUser" ng-switch=model.liked>

                    <div ng-switch-when="no">

                        <a ng-click="model.likebtn()">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
                                </span>
                        </a>

                    </div>

                    <div ng-switch-when="yes">

                        <a ng-click="model.likebtn()">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                            </span>
                        </a>
                    </div>


                </div>


            </div>
            <div class="col-xs-5">
                <div class="row">
                    Address:<br>
                    <div ng-repeat="a in model.address">
                        {{a}}
                    </div>
                </div>
                <div class="row">
                    <h5>{{model.data.display_phone}}</h5>
                </div>
                <div class="row">
                    <img ng-src="{{model.data.rating_img_url_large}}">
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-6">
        <h3>Reviews</h3>
        {{model.data.reviews[0].excerpt}}
    </div>
</div>
<br><br>
<div class="row">
    <ng-map center="[{{model.locationCoords.latitude}}, {{model.locationCoords.longitude}}]">
        <marker position="[{{model.locationCoords.latitude}}, {{model.locationCoords.longitude}}]"
                title="Restaurant" centered="true"></marker>

    </ng-map>
</div>



