<div class="row">
    <ng-map center="[{{model.locationCoords.latitude}}, {{model.locationCoords.longitude}}]">
        <marker position="[{{model.locationCoords.latitude}}, {{model.locationCoords.longitude}}]"
                title="Restaurant" centered="true"></marker>

    </ng-map>
</div>

<br><br>

<div class="row">
    <div class="col-xs-6">

        <div class="row">
            <div class="col-xs-7">
                <img ng-src="{{model.data.image_url}}">
                <br>
                <h4>{{model.data.name}}</h4>


                <div ng-show="newUser" ng-switch=model.liked>

                    <div ng-switch-when="no">

                        <a ng-click="model.likebtn()">
                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true">
                                </span>
                        </a>

                    </div>

                    <div ng-switch-when="yes">

                        <a ng-click="model.likebtn()">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                            </span>
                        </a>
                    </div>


                </div>


            </div>
            <div class="col-xs-5">
                <div class="row">
                    Address:<br>
                    <div ng-repeat="a in model.address">
                        {{a}}
                    </div>
                </div>
                <div class="row">
                    <h5>{{model.data.display_phone}}</h5>
                </div>
                <div class="row">
                    <img ng-src="{{model.data.rating_img_url_large}}">
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6"><label>Users who liked this restaurant</label></div>

            <div class="col-xs-4">
                <div ng-switch=name ng-repeat="name in model.firstNames">
                    {{name}}

                </div>
            </div>

        </div>
    </div>


</div>
<br><br>

<div class="row">
    <div class="col-xs-12">
        <h3>Reviews</h3>
        {{model.data.reviews[0].excerpt}}

    </div>
</div>

<br><br>

<div class="row" ng-show="newUser">
    <h3>Comment about the restaurant</h3>
    <textarea ng-model="model.comments" class="form-control"></textarea>
    <br>
    <button ng-click="model.comment(model.comments)" class="btn btn-block btn-primary">Comment</button>

</div>

<div class="row" ng-hide="newUser">
    <h3>Please <a href="#/login"> login </a> to review</h3>

</div>
<br><br>

<div class="row">
    <h3>Other Reviews</h3>
    <div ng-repeat="n in model.allComments">
        {{n.firstname}}:<br>
        {{n.comments}}
        <br><br>
    </div>




</div>



<br><br>